<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: left;
        }
        form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        form label {
            margin-right: 10px;
        }
        form input[type="datetime-local"],
        form input[type="submit"],
        form select {
            margin-right: 10px;
            font-size: 14px;
            padding: 6px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: #007BFF;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        .button-link:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>選取時間</h1>
    <form action="/" method="post">
        <label for="start_time">開始時間:</label>
        <input type="datetime-local" id="start_time" name="start_time" value="{{ start_time }}" required>
        
        <label for="end_time">結束時間:</label>
        <input type="datetime-local" id="end_time" name="end_time" value="{{ end_time }}" required>
        
        <input type="submit" value="開始搜尋">
    </form>

    <form action="/" method="post">
        <label>近 <input type="number" id="time_amount" name="time_amount" min="1" max="30" style="width: 50px; height: 25px;" placeholder="數量" value="{{ time_amount }}"> </label>
        <select id="time_unit" name="time_unit">
            <option value="hour" {% if time_unit == "hour" %}selected{% endif %}>小時</option>
            <option value="day" {% if time_unit == "day" %}selected{% endif %}>日</option>
        </select>
        <input type="submit" name="quick_search" value="快速搜尋">
    </form>

    <a href="/new_search" class="button-link">前往新查詢功能</a>

    {% if show_results %}
    <h2>搜尋結果</h2>
    {% if start_time and end_time %}
    <p>搜尋時間範圍：{{ start_time }} 至 {{ end_time }}</p>
    {% endif %}
    {% if data %}
    
    <table>
        <tr>
            <th style="width: 10%;">黃狗狗</th>
            <th style="width: 10%;">閒贏</th>
            <th style="width: 10%;">莊贏</th>
            <th style="width: 10%;">和局</th>
            <th style="width: 10%;">任意對子</th>
            <th style="width: 10%;">完美對子</th>
            <th style="width: 10%;">幸運六</th>
            <th style="width: 10%;">閒家對子</th>
            <th style="width: 10%;">莊家對子</th>
        </tr>
        {% set row1_total = 0 %}
        {% set row2_total = 0 %}
        {% set row3_total = 0 %}
        {% set row4_total = 0 %}
        {% set row5_total = 0 %}
        {% set row6_total = 0 %}
        {% set row7_total = 0 %}
        {% set row8_total = 0 %}
        {% for row in data | sort(attribute='0') %}
            {% set row1_total = row1_total + row[1] %}
            {% set row2_total = row2_total + row[2] %}
            {% set row3_total = row3_total + row[3] %}
            {% set total = row1_total + row2_total + row3_total %}
            {% set row4_total = row4_total + row[4] %}
            {% set row5_total = row5_total + row[5] %}
            {% set row6_total = row6_total + row[6] %}
            {% set row7_total = row7_total + row[7] %}
            {% set row8_total = row8_total + row[8] %}
        <tr>
            <td><button onclick="openModal('{{ row[0] }}')">{{ row[0] }}</button></td>
            <td>{{ row[1] }}{% if total > 0 %} ({{ "%.2f" % ((row[1] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[2] }}{% if total > 0 %} ({{ "%.2f" % ((row[2] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[3] }}{% if total > 0 %} ({{ "%.2f" % ((row[3] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[4] }}{% if total > 0 %} ({{ "%.2f" % ((row[4] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[5] }}{% if total > 0 %} ({{ "%.2f" % ((row[5] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[6] }}{% if total > 0 %} ({{ "%.2f" % ((row[6] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[7] }}{% if total > 0 %} ({{ "%.2f" % ((row[7] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
            <td>{{ row[8] }}{% if total > 0 %} ({{ "%.2f" % ((row[8] / total) * 100) }}%) {% else %} (N/A) {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>查無資料</p>
    {% endif %}
    {% endif %}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <button id="refreshButton" class="refresh-button">刷新</button>
            <h2 id="modalTitle">詳細資料</h2>
            <p>近一次洗牌時間：<span id="lastShuffleTime"></span> 到 現在的資料</p>
            <table id="modalTable">
                <thead>
                    <tr>
                        <th>閒贏</th>
                        <th>莊贏</th>
                        <th>和局</th>
                        <th>任意對子</th>
                        <th>完美對子</th>
                        <th>幸運六</th>
                        <th>閒家對子</th>
                        <th>莊家對子</th>
                    </tr>
                </thead>
                <tbody id="modalRow">
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>本局剩餘牌數</h3>
            <table id ="RemainTable">
                <thead>
                    <tr>
                        <th>-</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                    </tr>
                </thead>
                <tbody id="RemainRow">

                </tbody>     
            </table>
            <p>上上次洗牌時間：<span id="last2ShuffleTime"></span> 到 近一次洗牌</p>
            <table id="modalTable2">
                <thead>
                    <tr>
                        <th>閒贏</th>
                        <th>莊贏</th>
                        <th>和局</th>
                        <th>任意對子</th>
                        <th>完美對子</th>
                        <th>幸運六</th>
                        <th>閒家對子</th>
                        <th>莊家對子</th>
                    </tr>
                </thead>
                <tbody id="modalRow2">
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function openModal(tableId) {
            var modal = document.getElementById("myModal");
            var modalTitle = document.getElementById("modalTitle");
            var lastShuffleTime = document.getElementById("lastShuffleTime");
            var last2ShuffleTime = document.getElementById("last2ShuffleTime");
            var modalRow = document.getElementById("modalRow");
            var modalRow2 = document.getElementById("modalRow2");
            var RemainRow = document.getElementById("RemainRow");
    
            modalTitle.textContent = tableId + "桌 詳細資料";
            modal.style.display = "block";
            modalRow.innerHTML = "";
            modalRow2.innerHTML = "";
            RemainRow.innerHTML = "";

            // Function to refresh modal data
            function refreshModal() {
                var xhr = new XMLHttpRequest();
                modalRow.innerHTML = "";
                modalRow2.innerHTML = "";
                RemainRow.innerHTML = "";
                xhr.open("POST", "/get_table_details", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var shuffleTime = response.last_shuffle_time;
                        var shuffleTime2 = response.second_last_shuffle_time;
                        var gameResults = response.game_results;
                        var gameResults2 = response.game_results2;
                        var remaining_cards = response.remaining_cards;
                        var suits = ['菱形', '梅花', '愛心', '黑桃' ,'總和'];
    
                        // 更新模态框数据
                        lastShuffleTime.textContent = shuffleTime;
                        last2ShuffleTime.textContent = shuffleTime2;
    
                        gameResults.forEach(function (result) {
                            var total = result[0] + result[1] + result[2];
                            var row = document.createElement("tr");
                            var cell0 = document.createElement("td");
                            cell0.textContent = result[0] + " (" + (total > 0 ? ((result[0] / total) * 100).toFixed(2) : 0) + "%)";
                            row.appendChild(cell0);
                            var cell1 = document.createElement("td");
                            cell1.textContent = result[1] + " (" + (total > 0 ? ((result[1] / total) * 100).toFixed(2) : 0) + "%)";
                            row.appendChild(cell1);
                            var cell2 = document.createElement("td");
                            cell2.textContent = result[2] + " (" + (total > 0 ? ((result[2] / total) * 100).toFixed(2) : 0) + "%)";
                            row.appendChild(cell2);
                            for (var i = 3; i < result.length; i++) {
                                var cell = document.createElement("td");
                                cell.textContent = result[i];
                                row.appendChild(cell);
                            }
                            modalRow.appendChild(row);
                        });
    
                        gameResults2.forEach(function (result) {
                            var total = result[0] + result[1] + result[2];
                            var row = document.createElement("tr");
                            var cell0 = document.createElement("td");
                            cell0.textContent = result[0] + " (" + (total > 0 ? ((result[0] / total) * 100).toFixed(2) : 0) + "%)";
                            row.appendChild(cell0);
                            var cell1 = document.createElement("td");
                            cell1.textContent = result[1] + " (" + (total > 0 ? ((result[1] / total) * 100).toFixed(2) : 0) + "%)";
                            row.appendChild(cell1);
                            var cell2 = document.createElement("td");
                            cell2.textContent = result[2] + " (" + (total > 0 ? ((result[2] / total) * 100).toFixed(2) : 0) + "%)";
                            row.appendChild(cell2);
                            for (var i = 3; i < result.length; i++) {
                                var cell = document.createElement("td");
                                cell.textContent = result[i];
                                row.appendChild(cell);
                            }
                            modalRow2.appendChild(row);
                        });
    
                        remaining_cards.forEach(function (row, index) {
                            var tr = document.createElement("tr");
                            var th = document.createElement("th");
                            th.textContent = suits[index]; 
                            tr.appendChild(th);
                            row.forEach(function (cell) {
                                var td = document.createElement("td");
                                td.textContent = cell;
                                tr.appendChild(td);
                            });
                            RemainRow.appendChild(tr);
                        });
                    }
                };
                xhr.send(JSON.stringify({ table_id: tableId }));
            }
    
            // Initial load
            refreshModal();
    
            // Bind refresh button click event
            document.getElementById("refreshButton").onclick = function() {
                refreshModal();
            };
        }
    
        document.getElementsByClassName("close")[0].onclick = function() {
            document.getElementById("myModal").style.display = "none";
        }
    
        window.onclick = function(event) {
            var modal = document.getElementById("myModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    
</body>
</html>